.mat-table {
  background-color: steelblue;
}

.table-title {
  color: black;
  font-weight: 500;
}

.mat-raised-button-custom {
  background-color: steelblue;
  float: right;
}

.mat-divider {
  background-color: steelblue;
}
